*{
    margin: 0;
     padding: 0;
}
body{
    background-color: #F5F5F5;
    overflow-x: hidden;
    height: 1400px;
    overflow-y: auto;
}
.container{
    max-width: 97vw;
     margin: auto;
}
.nav-bar{
    background-color: white;
     height: 70px;
      width: 100vw;
}
.nav-bar img{
    margin-top: 18px;
}
.nav-bar hr{
    width: 70px;
    color: 1px #F2F3F3;
    opacity: 20%;
    transform: rotate(90deg);
     margin-left: 210px;
      margin-top: -25px;
}
.nav-bar svg{
    width: 25px;
    height: 25px;
}
.search-toggler{
    margin-left: 280px;
    display: flex;
    flex-direction: row;
     gap: 20px;
     margin-top: -10px;
}
.search-toggler input{
    width: 210px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    margin-top: -5px;
}
.nav-options img{
 border-radius: 50%;
 object-fit: cover;
 margin-top: -3px;
}
.nav-options img:hover{
    background-color: #F2F3F3;
}
.nav-options svg:hover{
    background: round #F2F3F3;
}
.profile{
    width: 30px;
    height: 30px;
}
.nav-options{
    display: flex;
    flex-direction: row;
    gap: 20px;
     margin-top: -30px;
     margin-left: 1050px;
}
.dashboards{
    width: 267px;
    height: 1420px;
    background-color: white;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    position: absolute;
}
.dashboards hr{
    width: 220px;
    margin-left: 20px;
    color: 1px #F2F3F3;
    opacity: 20%;
}
.dashboards-text{
    display: flex;
    flex-direction: column;
     font-family: sans-serif;
     gap: 10px;
     margin-left: 20px;
     margin-top: 15px;
}
.dashboards-text h5{
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 1px;
}
.dashboards-text button{
    background-color: #165A50;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 13px;
    text-align: left;
    font-size: larger;
    display: flex;
    gap: 15px;
}
.dashboards-text h4{
   font-weight: 400;
   display: flex;
   font-size: medium;
   gap: 14px;
   margin-left: 10px;
   margin-top: 8px;
}
.Sub-dashboard{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.line{
    margin-top: 25px;
}
.apps h5{
        font-weight: lighter;
    font-size: 12px;
    letter-spacing: 1px;
}
.apps{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    gap: 20px;
}
.apps h4{
     font-weight: 500;
   display: flex;
   font-size: medium;
   gap: 14px;
   margin-left: 10px;
   margin-top: 8px;
}
.pages{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    gap: 20px;
}
.pages h5{
      font-weight: lighter;
    font-size: 12px;
    letter-spacing: 1px; 
}
.pages h4{
     font-weight: 500;
   display: flex;
   font-size: medium;
   gap: 14px;
   margin-left: 10px;
   margin-top: 8px;
}
.end{
    display: flex;
    flex-direction: column;
    gap: 18px;
     margin-top: 60px;
     align-items: center;
     font-family: sans-serif;
}
.end img{
    height: 100px;
    width: 120px;
}
.end h5{
   text-align: center;
   color: #9B9F9D;
   font-weight: lighter;
   font-size: 14px;
}
.end h4{
    font-size: 18px;
}
.end button{
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: #165A50;
    color: white;
}
.landing-cards{
    color: white;
     font-family: sans-serif;
     display: flex !important;
      gap: 20px;
}
.Full-report{
    width: 680px;
     height: 220px;
     background-color: #165A50;
     margin-left: 500px;
    position: absolute;
    top: 0;
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 15px;
}
.Full-report-texts{
    display: flex;
    flex-direction: column;
     gap: 20px;
      margin-left: 25px;
      margin-top: 35px;
}
.Full-report-texts svg{
    color: #F6B51E;
}
.Full-report-texts h2{
    display: flex;
    gap: 10px;
}
.Full-report-texts h5{
    font-size: 15px;
    font-weight: lighter;
}
.Full-report-texts button{
    width: 170px;
    padding: 14px;
    background-color:#C2FD75 ;
    border: none;
    border-radius: 15px;
}
.Full-report-texts img{
    width: 200px;
    height: 200px;
    margin-left: 400px;
    margin-top: -180px;
}
.insights{
    width: 320px;
    height: 220px;
    background-color: white;
    border: 1px solid #EFEFF0;
    position: absolute;
    color: black;
    top: 0;
    font-family: sans-serif;
    margin-left: 1000px;
    margin-top: 100px;
    border-radius: 15px;
box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
}
.insights-texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    margin-top: 25px;
}
.insights-texts h2{
    font-size: 20px;
    font-weight: lighter;
}
.insights-texts h3{
    font-size: 17px;
    color: #bebebe;
    font-weight: lighter;
}
.body-cards{
    display: flex;
    gap: 20px;
    color: black;
    font-family: sans-serif;
}
.web-visits{
    width: 680px;
    height: 400px;
    background-color: white;
     margin-top: 280px;
      margin-left: 300px;
      border-radius: 15px;
       border: 1px solid #EFEFF0;
box-shadow: 0px 4px 41px -32px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -32px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -32px rgba(0,0,0,0.45);
display: flex;
flex-direction: column;
gap: 20px;
}
.current-visits{
     width: 320px;
    height: 400px;
    background-color: white;
     border-radius: 15px;
       border: 1px solid #EFEFF0;
box-shadow: 0px 4px 41px -32px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -32px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -32px rgba(0,0,0,0.45);
margin-top: 280px;
}
.web-visits-texts{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 25px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter !important;
}
.web-visits-texts h2{
    font-weight: lighter;
    font-family: sans-serif;
}
.web-visits-texts input{
    width: 100px;
    margin-left: auto;
    margin-top: -80px;
}
.web-visits-texts img{
    margin-top: 50px;
  height: 270px;
}
.site{
    height: 30px !important;
    width: 120px;
     margin-top: -5px !important;
     margin-left: 410px;
     position: absolute;
}
.current-visits-texts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: lighter;
}
.current-visits-texts img{
    height: 320px;
    width: 300px;
}
.current-visits-texts h2{
    font-family: sans-serif;
    font-weight: lighter;
}
.comparisons{
display: flex;
flex-direction: row;
gap: 30px;
margin-left: 300px;
margin-top: 50px;
font-family: sans-serif;
font-weight: bold;
}
.Visitor{
         width: 320px;
    height: 180px;
    background-color: white;
    border: 1px solid #EFEFF0;
      border-radius: 15px;
box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
}
.Visitor svg{
    background-color: #EFF9EA;
    color: #8ED36E;
    margin-top: -120px;
    margin-left: 260px;
    position: absolute;
    width: 30px;
    height: 30px;
}
.Visitor h2{
     margin-top: 30px;
    font-size: 20px;
    margin-left: 25px;
    line-height: 50px;
    font-weight: lighter; 
}
.Visitor h5{
    color: #C0C6C7;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 25px;
    font-size: 15px;
}
.Conversion-Rate{
     width: 320px;
    height: 180px;
    background-color: white;
    border: 1px solid #EFEFF0;
      border-radius: 15px;
box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
}
.Conversion-Rate h2{
     margin-top: 30px;
    font-size: 20px;
    margin-left: 25px;
    line-height: 50px;
    font-weight: lighter; 
}
.Conversion-Rate svg{
        background-color: #FEF4DD;
    color: #F6BF3C;
    margin-top: -120px;
    margin-left: 260px;
    position: absolute;
    width: 30px;
    height: 30px;
}
.Conversion-Rate h5{
    color: #C0C6C7;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 25px;
    font-size: 15px;
}
.Ads{
     width: 320px;
    height: 180px;
    background-color: white;
    border: 1px solid #EFEFF0;
      border-radius: 15px;
box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
}
.Ads h2{
       margin-top: 30px;
    font-size: 20px;
    margin-left: 25px;
    line-height: 50px;
    font-weight: lighter; 
}
.Ads svg{
         background-color:#EDE6FC;
    color:#A37CF1;
    margin-top: -120px;
    margin-left: 260px;
    position: absolute;
    width: 30px;
    height: 30px;
}
.Ads h5{
    color: #C0C6C7;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 25px;
    font-size: 15px;
}
.Campaign{
             width: 330px;
    height: 400px;
    background-color: white;
    border: 1px solid #EFEFF0;
      border-radius: 15px;
box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
}
.traffic-data{
                 width: 680px;
    height: 400px;
    background-color: white;
    border: 1px solid #EFEFF0;
      border-radius: 15px;
box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 4px 41px -18px rgba(0,0,0,0.45);
}
.end-cards{
    display: flex;
    gap: 20px;
    margin-left: 300px;
    margin-top: 50px;
}
.Campaign h2{
    display: flex;
    gap: 55px;
    font-family: sans-serif;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: lighter;
}
.Insta{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
}
.Insta img{
    width: 40px;
    height: 40px;
}
.Insta h2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 15px;
}
span{
    color: #a1a1a1;
}
.Campaign hr{
    color: 1px #F2F3F3;
    opacity: 20%;
    transform: rotate(90deg);
    height: 280px;
    margin-top: -80px;
    margin-left: 5px;
}
.Campaign-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Google{
       display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: -130px;
}
.Google img{
    width: 40px;
    height: 40px;
}
.Google h2{
      display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 15px;
}
.facebook{
           display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: -130px;
}
.facebook img{
       width: 40px;
    height: 40px; 
}
.facebook h2{
          display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 15px;
}
.Twitter{
           display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: -130px;
}
.Twitter img{
           width: 40px;
    height: 40px;
    background-color: #1D9BF0; 
}
.Twitter h2{
              display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 15px;
}
.traffic-data h2{
    display: flex;
    gap: 330px;
    margin-top: 30px;
    margin-left: 30px;
    font-family: sans-serif;
    padding: 5px;
    font-weight: lighter;
    border-radius: 10px;
}
th,td{
    padding: 20px 40px;
    border: none;
    border-bottom: 1px solid #ddd;
}
table div{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #bebebe;
    border-radius: 3px;
}
table{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
    border-collapse: collapse;
}